[Desktop Entry]
Comment[sv]=
Comment=
Exec=/usr/local/bin/sharedwine.sh %f
GenericName[sv]=
GenericName=
Icon=wine
MimeType=application/x-ms-dos-executable;
Name[sv]=Shared wine installer
Name=Shared wine installer
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=sharedwine
